/*
tableOfContents
	includeStyles
	generalStyles
	keepFooterDownStyles
	snippetStyles
	templateStyles
	footerStyles
*/

/*includeStyles*/
@import 'variables'; 
@import 'reset';
/*generalStyles*/
html, body {
	height: 100%;
}
/*keepFooterDownStyles*/
body {
	/*the following wrapper body and footer code keeps the footer at the bottom*/
	.wrapper {
		position:relative;
		min-height: 100%;
	}
	.body {
		padding-bottom: 50px; /* Height of the footer */
	}
	.footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:50px;
		overflow: hidden;
	}
}
/*overallStyles*/
/*snippetStyles*/
/*templateStyles*/
/*footerStyles*/


